{%- set title = room + ": TODO:MEETINGNAME" -%}
{% set vars = namespace() %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!--from OG meetbot will change and cleanup-->
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <title>{{title}}</title>
        <style type="text/css">
        /* This is for the .html in the HTML2 writer */
        body {
            font-family: Helvetica, sans-serif;
            font-size:14px;
        }
        h1 {
            text-align: center;
        }
        a {
            color:navy;
            text-decoration: none;
            border-bottom:1px dotted navy;
        }
        a:hover {
            text-decoration:none;
            border-bottom: 0;
            color:#0000B9;
        }
        hr {
            border: 1px solid #ccc;
        }
        /* The (nick, time) item pairs, and other body text things. */
        .details {
            font-size: 12px;
            font-weight:bold;
        }
        /* The 'AGREED:', 'IDEA', etc, prefix to lines. */
        .itemtype {
            font-style: normal;    /* un-italics it */
            font-weight: bold;
        }
        /* Example: change single item types.  Capitalized command name.
        /* .TOPIC  {  color:navy;  } */
        /* .AGREED {  color:lime;  } */

        </style>
    </head>
<body>
    <h1>{{title}}</h1>
    <span class="details">Meeting started by {{items[0]['sender']}} at {{items[0]['timestamp']|formatdate}}</span>
    <br><br>
    <h3>Meeting summary</h3>
    <ol>
        {% set vars.firsttopic = True %}
        {% for line in items %}
            {% if line['tag'] == 'topic'%}
                {% if not vars.firsttopic %}</ol>{% endif %}
                    <li>TOPIC: {{line['topic']}} ({{line['sender']}}, {{line['timestamp']|formattime}})</li>
                    <ol type="a">
                {% set vars.firsttopic = False %}
            {% endif %}
            {% if line['tag'] and line['tag'] != 'topic' %}
                <li>{{line['tag']|upper}}: {{line['message']|removecommand(command=line['tag'])}} ({{line['sender']}}, {{line['timestamp']|formattime}})</li>
            {% endif %}
        {% endfor %}
        {% if not vars.firsttopic %}
            </ol>
        {% endif %}
    </ol>
    <br/>
    <br/>
    <span class="details">Meeting ended at {{items[-1]['timestamp']|formatdate}}</span>
    <br/>
    <br/>



<h3>Action items</h3>
<ol>
{% set vars.no_actions =True %}
{% for line in items %}
    {% if line['tag'] == 'action' %}
        {% set vars.no_actions = False %}
        <li>{{line['message']|removecommand(command=line['tag'])}}</li>
    {% endif %}
{% endfor %}
{% if vars.no_actions %}
    <li>(none)</li>
{% endif %}
</ol>
<br><br>



<h3>People present (lines said)</h3>
<ol>
{% for person in people_present | reverse %}
<li>{{person['sender']}} ({{person['count']}})</li>
{% endfor %}
</ol>
<br><br>



</body></html>
